header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    h2{
        text-transform: uppercase;
        font-size: 1em;
        color: #fff;
    }
    h2, nav {
        width: 35%;
    }
    .navbarMenu{
        width: 80%;
        position: fixed;
        background: rgba(30, 30, 30, 0.5);
        z-index: 3;
        .menuListing{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li{
            margin-left: 10%;
            margin-top: 20%;
            
            a{
                font-weight: 700;
                text-decoration: none;
                color: #ffffff;
                &:active, &:hover{
                    color: rgba(245, 121, 51, 1);
                    text-decoration: underline;
                }
            }
        }
        li:last-child{
            margin-right: 20%;
        }
        }
        #toggle-btn{
            border-radius: 5%;
            width: 125px;
            height: 25px;
        }
    }
}
#top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .orange{
        color :rgba(245, 121, 51, 1);
    }
    h1{
        font-size: 50px;
        padding-top: 200px;
        padding-left: 10px;
        color: #fff;
    }
   
}
h3{
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    color: #fff;
}

.login{
    margin-left: 50px;
    width: 50px;
    height: 50px;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mouse{
    padding-top: 280px;
    bottom: auto;
}